<header>
    <nav>
        <img src="assets/taskly-new.png" alt="taskly-logo">

        <form action="/logout" method="post">
            <button type="submit">Logout</button>
        </form>
    </nav>

</header>