<header>
    <nav>
        <a href="/">
            <img src="/assets/taskly-new.png" alt="taskly-logo">
        </a>
        <% if(user){%>
            <div class="auth_user">
                <small>welcome to taskly,  <%=user.username %> </small>
                <a href="/task">Task</a>
                <form action="/logout" method="post">
                    <button type="submit">Logout</button>
                </form>
            </div>
        <%}else{%>
            <ul>
                <li><a href="/task">Task</a></li>
                <li><a href="/signup">Signup</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
            
        <%} %>
    </nav>

</header>