<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Taskly | A simple todo application</title>
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <main class="container">
        <div class="flex-wrap">
            <div class="wrap-one">
                <h1 class="heading">Welcome to 
                    <span>Taskly</span>
                    <span class="sub-heading">- Your simple and efficient task management solution.</span>
                </h1>

                <p>With Taskly, you can easily organize, track, and manage your tasks—all in one place. Whether you're working on personal projects, managing work assignments, or just keeping track of your daily to-dos, Taskly helps you stay on top of your goals.</p>

                <div class="auth-links">
                    <a href="/signup" class="sign-btn">Get Started</a>
                    <a href="/login" class="log-btn"> Log in</a>
                </div>
            </div>
            <div class="wrap-two">
                <img src="/assets/hero-img3.jpg" alt="">
            </div>
        </div>

    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>